@font-face {
  font-family: NotoSerif;
  font-style: normal;
  font-weight: 400;
  src: url('NotoSerif-Regular.ttf') format('truetype');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: NotoSerifBold;
  font-style: normal;
  font-weight: 700;
  src: url('NotoSerif-Bold.ttf') format('truetype');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: NotoSerifLight;
  font-style: normal;
  font-weight: 300;
  src: url('NotoSerif-Light.ttf') format('truetype');
  unicode-range: U+000-5FF;
}
