@use '../variables/index' as *;
@use '../fonts/index' as *;
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  font-weight: 400;
  &.cdk-global-scrollblock {
    top: 0 !important;
  }
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  background: $cream;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $neutral-100;
}

a {
  font-size: font-size(regular);
  font-family: NotoSerif;
  line-height: 16px;
  color: $neutral-80;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  &:not([href]) {
    cursor: default;
  }
  transition: all 0.3s ease;
}

a:hover {
  color: $neutral-100;
  font-weight: 700;
}

li {
  list-style: none;
  color: $neutral-80;
}

span {
  color: $neutral-80;
}

p {
  font-family: NotoSans;
  font-size: font-size(body-md);
  line-height: 18px;
  color: $neutral-80;
  margin: 0;
}

h1 {
  font-family: NotoSerifBold;
  font-size: font-size(h1);
  line-height: 53px;
}
h2 {
  font-family: NotoSerifBold;
  font-size: font-size(h2);
  line-height: 36px;
}
h3 {
  font-family: NotoSerif;
  font-size: font-size(h3);
  line-height: 22px;
  font-weight: 400;
}
h4 {
  font-family: NotoSerif;
  font-size: font-size(h4);
  line-height: 18px;
  font-weight: 400;
}
h5 {
  font-family: NotoSerif;
  font-size: font-size(h5);
  line-height: 14px;
  font-weight: 400;
}
h6 {
  font-family: NotoSerif;
  font-size: font-size(h6);
  line-height: 14px;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.mono {
  font-family: NotoSansMono;
}
