@use '../variables/index';
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  font-weight: 400;
  &.cdk-global-scrollblock {
    top: 0 !important;
  }
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  font-size: var(--text-font-size-small);
  line-height: 16px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  &:not([href]) {
    cursor: default;
  }
}

p {
  font-family: var(--font-primary-regular);
  color: var(--color-neutral-80);
  font-size: var(--text-font-size-normal);
  line-height: 18px;
}

h1 {
  font-size: var(--title-font-size-1);
  line-height: 53px;
}
h2 {
  font-size: var(--title-font-size-2);
  line-height: 36px;
}
h3 {
  font-size: var(--title-font-size-3);
  line-height: 22px;
}
h4 {
  font-family: var(--font-primary-regular);
  font-size: var(--title-font-size-4);
  line-height: var(--line-height-title-4);
}
h5 {
  font-size: var(--title-font-size-5);
}
h6 {
  font-size: var(--title-font-size-6);
}
