@font-face {
  font-family: NotoSans;
  font-style: normal;
  font-weight: 400;
  src: url('NotoSans-Regular.ttf') format('truetype');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: NotoSansLight;
  font-style: normal;
  font-weight: 300;
  src: url('NotoSans-Light.ttf') format('truetype');
  unicode-range: U+000-5FF;
}
