<nav class="navbar">
  <div class="navbar__left-col">
    <div class="brand">
      <img width="32" height="32" [src]="logo" alt="Limonada Dev logo" />
    </div>
    <div class="menu">
      @for (item of menu.items; track item.path) {
        <a
          [routerLink]="item.path"
          class="menu__item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span>
            {{ item.label }}
          </span>
        </a>
      }
    </div>
  </div>

  <div class="navbar__right-col">
    <div class="contact">
      <div class="contact__email">
        <span>
          {{ appConstants.CONTACT_EMAIL }}
        </span>
      </div>
      <div class="contact__social-media">
        <a href="{{ appConstants.LINKEDIN_URL }}" target="_blank">
          <img [src]="linkedin" alt="LinkedIn" />
        </a>
        <a href="{{ appConstants.GITHUB_URL }}" target="_blank">
          <img [src]="github" alt="GitHub" />
        </a>
        <a href="{{ appConstants.SUBSTACK_URL }}" target="_blank">
          <img [src]="substack" alt="Substack" />
        </a>
      </div>
    </div>
  </div>
</nav>
