@use 'variables' as *;
@use 'layout' as *;
@use 'mixins' as *;

.navbar {
  @include flex-between;
  align-items: center;
  border: $border-solid;
  border-radius: $border-radius;
  a {
    color: $neutral-80;
    span {
      font-family: NotoSerif;
    }
  }
  &__left-col {
    @include flex-center;
    .brand {
      @include flex-center;
      width: 96px;
      padding: 7px;
      border-right: $border-solid;
    }
    .menu {
      @include flex-center;
      .menu__item {
        @include flex-left;
        min-width: 96px;
        height: 46px;
        border-right: $border-solid;
        padding: 0 7px;
      }
      .menu__item:hover,
      .menu__item.active {
        background: $lemon-gradient;
      }
    }
  }
  &__right-col {
    border-left: $border-solid;
    .contact {
      @include flex-center;

      gap: 16px;
      &__email {
        @include flex-left;
        padding: 0 7px;
        width: 200px;
        height: 46px;
      }
      &__social-media {
        @include flex-center;
        border-left: $border-solid;
        padding: 7px 12px;
        gap: 16px;
        height: 46px;
      }
    }
  }
}
